<div class="masthead clearfix">
  <div class="inner">
    <!--h3 class="masthead-brand" routerLink="home"><img src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801" alt=""/></h3-->
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="container">
  <div class="w-100 float-left">
    <h2 class="mb-2 mt-4">Fichero de libros</h2>
    <div id="accordion">
      <div class="card bg-transparent" *ngFor="let ficha of fichero">
        <div class="card-header bg-dark" id="{{ ficha.key }}">
          <img [src]="ficha.imgLibro" width="60px" alt="" />
          <button
            class="btn btn-link text-white-50"
            data-toggle="collapse"
            [attr.data-target]="'#' + ficha.key + '2'"
            aria-expanded="true"
            attr.aria-controls="{{ ficha.key + '2' }}"
          >
            <h4 class="mb-0 text-white-50">
              {{ ficha.titulo }}
            </h4>
          </button>
        </div>

        <div
          id="{{ ficha.key + '2' }}"
          class="collapse bg-collapse"
          attr.aria-labelledby="{{ ficha.key }}"
          data-parent="#accordion"
        >
          <div
            class="pb-3 pl-3 pr-3 rounded box-shadow"
            *ngFor="let alumno of ficha.alumnos"
          >
            <div class="media pt-3 pb-2 border-bottom border-gray">
              <img
                class="mr-2 float-left"
                src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/{{
                  alumno.img
                }}.png?alt=media&token=a02ff541-63b1-4880-814a-d01de89e3b99"
                width="3%"
                data-holder-rendered="true"
              />
              <h5 class="media-body ml-4 lh-125 float-left">
                <strong class="d-block">{{ alumno.nya }}</strong>
              </h5>
              <h5 class="media-body lh-125 float-left">
                {{ alumno.fecha | date: "longDate" }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
