p {
  text-shadow: none;
}
div {
  text-align: left;
}
button {
  color: white !important;
}
@media (max-width: 768px) {
  .media-body {
    /*width: 100%;*/
    float: left;
    flex: none;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 16px;
  }
  .media {
    display: block;
    float: left;
  }
  .ml-4 {
    margin: 0 !important;
  }
  .btn-link {
    float: right;
    width: auto;
    display: block;
    width: 75%;
  }
  .collapse img{
    width: 7%;
  }

  h5{
    width:90%
  }
}

@media (min-width: 768px) {
  .media {
    display: flex;
  }
  .media-body {
    padding-bottom: 1rem !important;
    margin-top: 0.5rem !important;
  }
}
.bg-collapse {
  background-color: #292b2d;
  padding-bottom: 1rem;
}

h4{
  text-align: left;
}