h3 {
  cursor: pointer;
}
.lolomoRow {
  position: relative;
  width: 100%;
  float: left;
  margin: 2% 0 0 0;

  background: rgba(20, 20, 20, 0);
  background: -moz-linear-gradient(
    top,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 2%,
    rgba(20, 20, 20, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(20, 20, 20, 0)),
    color-stop(2%, rgba(20, 20, 20, 1)),
    color-stop(100%, rgba(20, 20, 20, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 2%,
    rgba(20, 20, 20, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 2%,
    rgba(20, 20, 20, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 2%,
    rgba(20, 20, 20, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 2%,
    rgba(20, 20, 20, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#141414', GradientType=0 );
}
.rowContainer {
  -webkit-transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -o-transition: -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
.barraEstrella {
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  background: orange;
  z-index: 1;
}
.rowContainer .rowContent {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider {
  position: relative;
  margin: 0;
  padding: 0 4%;
}
.rowContainer .rowContent .slider {
  z-index: 2;
}
.slider .sliderMask.showPeek {
  overflow-x: visible;
}
.slider .sliderMask .sliderContent {
  /*white-space: nowrap;*/
}
.rowContainer .rowContent .slider .row-with-x-columns .slider-item {
  width: 19%;
  float: left;
  margin-right: 1%;
}
.contEstrellas {
  position: relative;
  overflow: hidden;
  float: left;
  width: 64%;
  background: #141414;
  height: 48px;
  margin: 10px 0 0 20%;
}
@media only screen and (min-width: 1500px) {
  .barraEstrella {
    position: absolute;
    height: 39px;
    top: 0;
    left: 0;
    background: orange;
    z-index: 1;
  }
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 100%;
    float: left;
  }
  .lolomoRow {
    position: relative;
    width: 100%;
    float: left;
    margin: 5% 0 0 0;
  }

  @media only screen and (min-width: 100px) and (max-width: 329px) {
    .barraEstrella {
      height: 33px;
    }
  }
}
@media only screen and (min-width: 330px) and (max-width: 400px) {
  .barraEstrella {
    height: 41px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  .barraEstrella {
    height: 49px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .barraEstrella {
    height: 60px;
  }
  .contEstrellas {
    height: 71px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .barraEstrella {
    height: 15px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .barraEstrella {
    height: 20px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .barraEstrella {
    height: 28px;
  }
}
.slider .sliderMask .sliderContent .slider-item {
  z-index: 1;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
}
.smallTitleCard {
  position: relative;
  margin: 0 2px;
  z-index: 1;
  cursor: pointer;
  outline: 0;
}
.lockup {
  position: relative;
}
.smallTitleCard {
  position: relative;
  margin: 0 2px;
  z-index: 1;
  cursor: pointer;
  outline: 0;
}

.title-artwork,
.video-artwork {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 100%;
  padding: 2% 0;
  position: relative;
  float: left;
}

.title-artwork,
.video-artwork img {
  float: left;
  width: 100%;
}

.mastfoot,
.cover-container {
  width: 100%;
}
.masthead-brand {
  margin-left: 30px;
}
.masthead {
  background-image: linear-gradient(
    to bottom,
    rgb(45, 37, 37),
    rgba(255, 0, 0, 0)
  );
  padding-bottom: 5%;
}
#content-list-book {
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: auto;
  background-size: 100%;
  float: left;
  background-repeat: no-repeat;
  background-position-y: -200px;
}
.portada1 {
  background: url(https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/portada.png?alt=media&token=e752e171-a069-4816-a557-2c043b5acfdb);
}
.portada2 {
  background: url(https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/portada2.png?alt=media&token=4be43696-6bc0-4d0d-963d-3b6d5c2a332d);
}
.portada3 {
  background: url(https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/portada3.png?alt=media&token=de4e7851-89cc-4931-bf07-37ce99ece20c);
}
.destacado {
  float: left;
  width: 350px;
  text-align: left;
  margin: -45px 60px 0;
}
.destacado p {
  line-height: 18px;
  font-size: 18px;
}
.destacado a {
  opacity: 0.8;
  float: left;
}
.destacado .white {
  color: #fff;
}
.destacado .black {
  color: #000;
}
#librosEncontrados {
  margin-top: -65px;
}
@media (max-width: 768px) {
  #librosEncontrados {
    font-size: 18px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 400px) {
  .profile-gate-label {
    font-size: 36px;
    margin: 30px 0 30px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 900px) {
  .masthead {
    margin: 0 30px;
    background: none;
  }
  .choose-profile {
    margin: 0;
  }
  .inner {
    padding: 0;
  }
  .profiles-gate-container .profile-name {
    font-size: 6.3vw;
  }
  .masthead-brand img {
    width: 60%;
    margin: 7px 0;
  }
  .masthead-brand {
    margin: 0;
  }
  .destacado {
    display: none;
  }
  .portadas {
    background: none;
  }
}

.available {
  position: absolute;

  bottom: 50%;

  z-index: 11111;

  text-align: center;

  width: 100%;

  background: red;
  box-shadow: 0 2px 30px #000;
}
