<div
  id="content-list-book"
  class="portadas"
  [ngClass]="{ portada1: p1, portada2: p2, portada3: p3 }"
>
  <nav class="site-header sticky-top py-1">
    <div class="inner">
      <!--h3 class="masthead-brand" routerLink="../">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801"
          alt="" /></h3-->
      <router-outlet name="lolo"></router-outlet>
    </div>
  </nav>
  <div class="position-relative overflow-hidden pt-5 mt-4 text-center">
    <div class="destacado" *ngIf="p1">
      <h1 class="font-white">Biblioteca virtual para el aula</h1>
      <p class="font-white">
        Con esta plataforma podran ver que libros estan disponibles para leer,
        reservarlos, comentarlos y calificarlos. Así podrán saber que opinan
        quienes ya lo leyeron y compartir tu opinión... ¡qué empiece la lectura!
      </p>
      <!-- <a class="btn btn-secondary" routerLink="batu1">Ver más</a> -->
    </div>
    <!-- <div class="destacado" *ngIf="p2">
  <h1 class="black">Los sábados son como un gran globo rojo</h1>
  <p class="black">Cuando su hermana menor, Clemi se reusa a salir a la lluvia, Matilda se propone enseñarle todos los placeres de un sábado mojado. Luego de que su entusiasmo la lleve a cometer un gran error, es Matilda quien finalmente aprende una lección inolvidable. El caricaturista mundialmente aclamado Liniers, nos ofrece un retrato dulce y gracioso de sus hijas, que seguro se convertirá en el favorito de todo lector principiante.</p>
  <a class="btn btn-secondary black" routerLink="sabados">Ver más</a>
</div>
<div class="destacado" *ngIf="p3">
  <h1 class="white">Mafalda</h1>
  <p class="white">Mafalda es una nena terrible, simpática y atrevida. Es nacida de una típica familia de Buenos Aires. Esta niña, como todas, tiene una familia y unos amigos que forman su pandilla. Va a la escuela y, en verano, cuando le salen las cuentas a su papá, va de vacaciones. </p>
  <a class="btn btn-secondary white" routerLink="mafalda">Ver más</a>
</div> -->
    <div class="lolomoRow lolomoRow_title_card">
      <div class="rowContainer rowContainer_title_card">
        <div class="ptrack-container">
          <div class="rowContent slider-hover-trigger-layer">
            <div class="slider">
              <div class="sliderMask showPeek">
                <div class="sliderContent row-with-x-columns" style="">
                  <h2
                    class="float-left w-100 text-left"
                    id="librosEncontrados"
                    *ngIf="activeSearchLibro && listLibro.length > 0"
                  >
                    Libros encontrados con la/s palabra/s: '{{ keyword }}'
                  </h2>
                  <h2
                    class="float-left w-100 text-left"
                    id="librosEncontrados"
                    *ngIf="activeSearchLibro && listLibro.length === 0"
                  >
                    No hay resultados para la busqueda con la/s palabra/s: '{{
                      keyword
                    }}'
                  </h2>
                  <div class="slider-item" *ngFor="let libro of listLibro">
                    <a routerLink="{{ libro.url }}">
                      <div class="title-card-container">
                        <div
                          class="smallTitleCard lockup title_card sliderRefocus"
                        >
                          <div class="ptrack-content">
                            <div class="video-artwork">
                              <img
                                style="height:350px; width:100%"
                                [src]="libro.foto"
                                alt=""
                              />
                              <p *ngIf="libro.loTiene" class="available">
                                Libro prestado
                              </p>
                              <div class="contEstrellas">
                                <p
                                  [ngStyle]="{ width: libro.promedioX + '%' }"
                                  class="barraEstrella"
                                ></p>
                                <img
                                  style="position: absolute; width: 100%; top:0; left:0;z-index: 2;"
                                  src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/estrellas.png?alt=media&token=9235019a-b20e-4ac0-bd59-b240acf7575d"
                                  alt=""
                                />
                              </div>
                              <p
                                class="w-100 float-left font-weight-bold"
                                style="height:45px; line-height:14px;"
                              >
                                {{ libro.titulo }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
