<!--<nav>
  <ul class="nav masthead-nav">
    <li *ngIf="alumno.img && !esMaestra">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/{{
          alumno.img
        }}.png?alt=media&token=a02ff541-63b1-4880-814a-d01de89e3b99"
        width="30px"
      />
    </li>
    <li *ngIf="!esMaestra">
      <a>Hola {{ alumno.nombre }}</a>
    </li>
    <li><a href="../home">Inicio</a></li>
    <li
      *ngIf="
        libro ||
        (!libro &&
          (adminurl === 'fichero-libros' ||
            adminurl === 'comentarios' ||
            adminurl === 'estado-prestamos' ||
            adminurl === 'admin-alumnos' ||
            adminurl === 'admin-libros'))
      "
    >
      <a routerLink="../">Libros</a>
    </li>
    <li *ngIf="!libro && !esMaestra"><a>Libros</a></li>
    <li *ngIf="libro && !esMaestra"><a routerLink="../leidos">Ya leidos</a></li>
    <li *ngIf="!libro && !esMaestra"><a routerLink="leidos">Ya leidos</a></li>

    <li
      *ngIf="
        esMaestra &&
        !libro &&
        adminurl !== 'fichero-libros' &&
        adminurl !== 'maestra'
      "
    >
      <a routerLink="../fichero-libros">Fichero</a>
    </li>
    <li *ngIf="esMaestra && adminurl === 'fichero-libros'"><a>Fichero</a></li>
    <li *ngIf="esMaestra && adminurl === 'maestra'">
      <a routerLink="fichero-libros">Fichero</a>
    </li>
    <li *ngIf="esMaestra && libro">
      <a routerLink="../fichero-libros">Fichero</a>
    </li>

    <li
      *ngIf="
        esMaestra &&
        !libro &&
        adminurl !== 'estado-prestamos' &&
        adminurl !== 'maestra'
      "
    >
      <a routerLink="../estado-prestamos">Prestamos</a>
    </li>
    <li *ngIf="esMaestra && adminurl === 'estado-prestamos'">
      <a>Prestamos</a>
    </li>
    <li *ngIf="esMaestra && adminurl === 'maestra'">
      <a routerLink="estado-prestamos">Prestamos</a>
    </li>
    <li *ngIf="esMaestra && libro">
      <a routerLink="../estado-prestamos">Prestamos</a>
    </li>

    <li
      *ngIf="
        esMaestra &&
        !libro &&
        adminurl !== 'comentarios' &&
        adminurl !== 'maestra'
      "
    >
      <a routerLink="../comentarios">Comentarios</a>
    </li>
    <li *ngIf="esMaestra && adminurl === 'comentarios'"><a>Comentarios</a></li>
    <li *ngIf="esMaestra && adminurl === 'maestra'">
      <a routerLink="comentarios">Comentarios</a>
    </li>
    <li *ngIf="esMaestra && libro">
      <a routerLink="../comentarios">Comentarios</a>
    </li>

    <li
      *ngIf="
        esMaestra &&
        !libro &&
        adminurl !== 'admin-libros' &&
        adminurl !== 'maestra'
      "
    >
      <a routerLink="../admin-libros">Biblioteca</a>
    </li>
    <li *ngIf="esMaestra && adminurl === 'admin-libros'"><a>Biblioteca</a></li>
    <li *ngIf="esMaestra && adminurl === 'maestra'">
      <a routerLink="admin-libros">Biblioteca</a>
    </li>
    <li *ngIf="esMaestra && libro">
      <a routerLink="../admin-libros">Biblioteca</a>
    </li>

    <li
      *ngIf="
        esMaestra &&
        !libro &&
        adminurl !== 'admin-alumnos' &&
        adminurl !== 'maestra'
      "
    >
      <a routerLink="../admin-alumnos">Alumnos</a>
    </li>
    <li *ngIf="esMaestra && adminurl === 'admin-alumnos'"><a>Alumnos</a></li>
    <li *ngIf="esMaestra && adminurl === 'maestra'">
      <a routerLink="admin-alumnos">Alumnos</a>
    </li>
    <li *ngIf="esMaestra && libro">
      <a routerLink="../admin-alumnos">Alumnos</a>
    </li>

    <li
      *ngIf="
        !libro &&
        adminurl !== 'fichero-libros' &&
        adminurl !== 'comentarios' &&
        adminurl !== 'estado-prestamos' &&
        adminurl !== 'admin-alumnos' &&
        adminurl !== 'admin-libros'
      "
    >
      <input
        id="search"
        (keyup)="keyUp($event)"
        placeholder="Buscar..."
        type="text"
      />
    </li>
  </ul>
</nav-->
<nav class="site-header navbar navbar-expand-md navbar-dark fixed-top">
  <a
    ><img
      alt=""
      src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&amp;token=c9ef09e6-0580-4213-a182-0bf5d7845801"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active2" *ngIf="alumno.img && !esMaestra">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/{{
            alumno.img
          }}.png?alt=media&token=a02ff541-63b1-4880-814a-d01de89e3b99"
          width="30px"
        />
      </li>

      <li *ngIf="!esMaestra" class="nav-item">
        <a class="nav-link active2">Hola {{ alumno.nombre }}</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="../home">Inicio</a></li>
      <li
        *ngIf="
          libro ||
          (!libro &&
            (adminurl === 'fichero-libros' ||
              adminurl === 'comentarios' ||
              adminurl === 'estado-prestamos' ||
              adminurl === 'admin-alumnos' ||
              adminurl === 'admin-libros'))
        "
        class="nav-item"
      >
        <a class="nav-link" routerLink="../">Libros</a>
      </li>
      <li *ngIf="!libro && !esMaestra" class="nav-item">
        <a class="nav-link active">Libros</a>
      </li>
      <li *ngIf="libro && !esMaestra" class="nav-item">
        <a class="nav-link" routerLink="../leidos">Ya leidos</a>
      </li>
      <li *ngIf="!libro && !esMaestra" class="nav-item">
        <a class="nav-link" routerLink="leidos">Ya leidos</a>
      </li>

      <li
        *ngIf="
          esMaestra &&
          !libro &&
          adminurl !== 'fichero-libros' &&
          adminurl !== 'maestra'
        "
        class="nav-item"
      >
        <a class="nav-link" routerLink="../fichero-libros">Fichero</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'fichero-libros'" class="nav-item">
        <a class="nav-link active">Fichero</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'maestra'" class="nav-item">
        <a class="nav-link" routerLink="fichero-libros">Fichero</a>
      </li>
      <li *ngIf="esMaestra && libro" class="nav-item">
        <a class="nav-link" routerLink="../fichero-libros">Fichero</a>
      </li>

      <li
        *ngIf="
          esMaestra &&
          !libro &&
          adminurl !== 'estado-prestamos' &&
          adminurl !== 'maestra'
        "
        class="nav-item"
      >
        <a class="nav-link" routerLink="../estado-prestamos">Prestamos</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'estado-prestamos'" class="nav-item">
        <a class="nav-link active">Prestamos</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'maestra'" class="nav-item">
        <a class="nav-link" routerLink="estado-prestamos">Prestamos</a>
      </li>
      <li *ngIf="esMaestra && libro" class="nav-item">
        <a class="nav-link" routerLink="../estado-prestamos">Prestamos</a>
      </li>

      <li
        *ngIf="
          esMaestra &&
          !libro &&
          adminurl !== 'comentarios' &&
          adminurl !== 'maestra'
        "
        class="nav-item"
      >
        <a class="nav-link" routerLink="../comentarios">Comentarios</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'comentarios'" class="nav-item">
        <a class="nav-link active">Comentarios</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'maestra'" class="nav-item">
        <a class="nav-link" routerLink="comentarios">Comentarios</a>
      </li>
      <li *ngIf="esMaestra && libro" class="nav-item">
        <a class="nav-link" routerLink="../comentarios">Comentarios</a>
      </li>

      <li
        *ngIf="
          esMaestra &&
          !libro &&
          adminurl !== 'admin-libros' &&
          adminurl !== 'maestra'
        "
        class="nav-item"
      >
        <a class="nav-link" routerLink="../admin-libros">Biblioteca</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'admin-libros'" class="nav-item">
        <a class="nav-link active">Biblioteca</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'maestra'" class="nav-item">
        <a class="nav-link" routerLink="admin-libros">Biblioteca</a>
      </li>
      <li *ngIf="esMaestra && libro" class="nav-item">
        <a class="nav-link" routerLink="../admin-libros">Biblioteca</a>
      </li>

      <li
        *ngIf="
          esMaestra &&
          !libro &&
          adminurl !== 'admin-alumnos' &&
          adminurl !== 'maestra'
        "
        class="nav-item"
      >
        <a class="nav-link" routerLink="../admin-alumnos">Alumnos</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'admin-alumnos'" class="nav-item">
        <a class="nav-link active">Alumnos</a>
      </li>
      <li *ngIf="esMaestra && adminurl === 'maestra'" class="nav-item">
        <a class="nav-link" routerLink="admin-alumnos">Alumnos</a>
      </li>
      <li *ngIf="esMaestra && libro" class="nav-item">
        <a class="nav-link" routerLink="../admin-alumnos">Alumnos</a>
      </li>
    </ul>
    <input
      id="search"
      (keyup)="keyUp($event)"
      placeholder="Buscar..."
      type="text"
    />
    <!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button-->
  </div>
</nav>
