#search {
  background: none;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 700;
  border-bottom: 2px solid #fff;
  border-left: none;
  border-right: none;
  border-top: none;
}
ul {
  margin-left: auto !important;
  margin-right: 20px !important;
}
.navbar-nav .nav-link {
  font-weight: 400;
  font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.75);
  border-bottom: 2px solid transparent;
}
.navbar-nav .active {
  color: #fff;
  border-bottom:2px solid #fff
}

.navbar-nav .active2 {
  color: #fff;
}
.navbar a img {
  width: 60%;
}

@media (min-width: 768px) {
  .navbar a img {
    margin-top: -50px;
  }
  #navbarCollapse{
    margin:-50px 0 0 0
  }
}
  @media (max-width: 768px) {
  .navbar a img {
    float: left;
    margin-top: 0;

  }
  .navbar {
    background-color: #0a0a0a;
  }
  .navbar-collapse {
    background: #000;
    padding: 10px;
    width: 100%;
    margin: 0;
  }
}

#navbarCollapse li img{
  margin:5px
}