@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  input.form-control {
    margin: 0 0 10px;
  }
  label {
    width: 100%;
    float: left;
    text-align: left;
  }
  a.ver-leidos {
    width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .row-alumno {
    padding: 0 0 10px;
    border-bottom: 1px solid #fff;
  }
  .row {
    margin: 0;
  }

  button.btn-danger{
    width:100%;
  }

  button.mr-2-bookflix{
    margin-right:0!important;
    margin-top:0 !important;
  }
}
@media (min-width: 768px) {
  button.mr-2-bookflix{
    margin-right:0.5rem !important;
    margin-top: 3rem !important
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
label{
  text-align:left
}