<div class="masthead clearfix">
  <div class="inner">
    <!--h3 class="masthead-brand" routerLink="home"><img src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801" alt=""/></h3-->
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="container">
  <div class="row w-100">
    <div class="col-12">
      <button
        (click)="createNewAlumno()"
        data-toggle="tooltip"
        class="btn btn-danger float-right mt-5 mb-3"
      >
        Agregar alumno<i class="material-icons float-right ml-2">add_circle</i>
      </button>

      <button
        data-toggle="modal"
        data-target="#exampleModal"
        class="btn btn-danger float-right mb-3 mr-2-bookflix"
      >
        Resetear Bookflix<i class="material-icons float-right ml-2">refresh</i>
      </button>
    </div>
    <!-- <div class="col-md-1" style="text-align: center; font-size:22px;">Avatar</div> -->
    <div class="col-md-5 desktop" style="text-align: center; font-size:22px;">
      Nombre
    </div>
    <!--div class="col-md-1" style="text-align:center; font-size:22px;"></div-->
    <div class="col-md-5 desktop" style="text-align: center; font-size:22px;">
      Apellido
    </div>
  </div>

  <div
    class="row w-100 pt-3 pb-3 row-alumno"
    *ngFor="let alumno of alumnos$ | async"
    style="background: none;"
  >
    <!-- 
    <div class="col-md-1" style="
          text-align:center; font-size:18px;vertical-align: middle"><input #img class="form-control" type="text" (change)="saveAlumnoInfo(alumno,'img',img.value)" [value]="alumno?.img"></div> -->

    <div
      class="col-md-5"
      style="
          text-align:center; font-size:18px;vertical-align: middle"
    >
      <label class="mobile">Nombre</label>
      <input
        #nombre
        class="form-control"
        type="text"
        (change)="saveAlumnoInfo(alumno, 'nombre', nombre.value)"
        [value]="alumno?.nombre"
      />
    </div>

    <div
      class="col-md-5"
      style="text-align:center; font-size:18px;vertical-align: middle"
    >
      <label class="mobile">Apellido</label>

      <input
        #apellido
        class="form-control"
        type="text"
        (change)="saveAlumnoInfo(alumno, 'apellido', apellido.value)"
        [value]="alumno?.apellido"
      />
    </div>
    <div
      class="col-md-2"
      style="text-align:center; font-size:18px;vertical-align: middle"
    >
      <a
        class="btn btn-danger ver-leidos"
        routerLink="../../{{ alumno.$key }}/leidos"
        >Ver leidos</a
      >
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-dark">
          ¿Está seguro de resetear toda la aplicación? Se borrarán todas las
          calificaciones, comentarios y alumnos. El listado de libros
          persistirá.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          (click)="resetAll()"
          data-dismiss="modal"
          class="btn btn-danger"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>
