<div class="masthead clearfix">
  <div class="inner">
    <!--h3 class="masthead-brand" routerLink="home"><img src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801" alt=""/></h3-->
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="w-100 float-left">
  <div class="table-responsive col-sm-12 mt-5 w-100">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: center; font-size:22px;">Alumno</th>
          <th style="text-align: center; font-size:22px;">Libro</th>
          <th style="text-align:center; font-size:22px;">Fecha Prestamo</th>
          <th style="text-align:center; font-size:22px;">Fecha Devolución</th>
          <th style="text-align:center; font-size:22px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let prestamo of prestados$ | async"
          style="background: none;"
        >
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>{{ prestamo?.nya }}</p>
          </td>
          <td>
            <img style="width:50px" src="{{ prestamo?.foto }}" alt="" />
            <p>{{ prestamo?.titulo }}</p>
          </td>
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>{{ prestamo?.fechaPrestamo | date: "longDate" }}</p>
          </td>
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>{{ prestamo?.fechaDevolucion | date: "longDate" }}</p>
          </td>
          <td>
            <button
              class="btn btn-danger mt-4"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="
                devolvioModal(
                  prestamo?.libro,
                  prestamo?.alumno,
                  prestamo?.key,
                  prestamo?.titulo,
                  prestamo?.nya
                )
              "
            >
              Devolvió
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-dark">
          Esta seguro de devolver el libro {{ titulo }} de {{ nya }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          (click)="devolvio(idLibro, idAlumno, key)"
          data-dismiss="modal"
          class="btn btn-danger"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>
