<div id="content-list-book">
  <nav class="site-header sticky-top py-1">
    <div class="inner">
      <!--h3 class="masthead-brand" routerLink="home"><img
        src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801"
        alt="" /></h3-->
      <router-outlet name="lolo"></router-outlet>
    </div>
  </nav>

  <h2>{{ libro?.titulo }}</h2>
  <div style="width: 100%; float:left;">
    <div class="row m-0">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <div id="estrellasLibro">
          <p
            [ngStyle]="{ width: libro?.promedioX + '%' }"
            class="barraEstrella"
          ></p>
          <img
            style="position: absolute; width: 100%; top:0; left:0;z-index: 2;"
            src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/estrellas.png?alt=media&token=9235019a-b20e-4ac0-bd59-b240acf7575d"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="width:100%;float:left;">
      <div class="row m-0">
        <div class="col-sm-4">
          <img class="fotoLibro" [src]="libro?.foto" />
          <div class="mb-2 mt-2 w-100 float-left" *ngIf="libro?.linkYoutube">
            <button
              data-toggle="modal"
              data-target="#videoModal"
              class="btn btn-danger m-auto"
              (click)="showVideo()"
            >
              Ver BookTriller
              <i class="material-icons ml-2 float-right">ondemand_video</i>

            </button>
          </div>
        </div>
        <div class="col-sm-8">
          <h3>Reseña</h3>
          <p>{{ libro?.descripcion }}</p>
          <h3>Autor</h3>
          <p>{{ libro?.autor }}</p>
          <h3>Ilustrador</h3>
          <p>{{ libro?.ilustrador ? libro?.ilustrador : "" }}</p>
          <h3>Editorial</h3>
          <p>{{ libro?.editorial }}</p>
          <h3 *ngIf="!esMaestra">Mi calificaci&oacute;n</h3>
          <p *ngIf="!esMaestra" class="clasificacion mb-0">
            <input
              id="radio1"
              type="radio"
              name="estrellas"
              [checked]="test == '5'"
            />
            <label
              for="radio1"
              (click)="
                guardoCalificacion(5, libro?.$key, libro?.titulo, libro?.foto)
              "
              >★</label
            >
            <input
              id="radio2"
              type="radio"
              name="estrellas"
              [checked]="test == '4'"
            />
            <label
              for="radio2"
              (click)="
                guardoCalificacion(4, libro?.$key, libro?.titulo, libro?.foto)
              "
              >★</label
            >
            <input
              id="radio3"
              type="radio"
              name="estrellas"
              [checked]="test == '3'"
            />
            <label
              for="radio3"
              (click)="
                guardoCalificacion(3, libro?.$key, libro?.titulo, libro?.foto)
              "
              >★</label
            >
            <input
              id="radio4"
              type="radio"
              name="estrellas"
              [checked]="test == '2'"
            />
            <label
              for="radio4"
              (click)="
                guardoCalificacion(2, libro?.$key, libro?.titulo, libro?.foto)
              "
              >★</label
            >
            <input
              id="radio5"
              type="radio"
              name="estrellas"
              [checked]="test == '1'"
            />
            <label
              for="radio5"
              (click)="
                guardoCalificacion(1, libro?.$key, libro?.titulo, libro?.foto)
              "
              >★</label
            >
          </p>
          <div class="w-100 mb-4 float-left">
            <button
              *ngIf="!esMaestra"
              data-toggle="modal"
              data-target="#exampleModal"
              class="btn btn-danger float-left"
            >
              Retirar
            </button>
          </div>
          <h3>Comentarios</h3>
          <form
            *ngIf="!esMaestra"
            [formGroup]="form"
            autocomplete="off"
            class="lesson-form"
          >
            <fieldset>
              <input
                type="hidden"
                name="alumno"
                formControlName="alumno"
                value="Juana"
              />
              <textarea
                class="form-control"
                name="comentario"
                formControlName="comentario"
                cols="30"
                rows="5"
              ></textarea>
              <button
                [disabled]="!form.valid"
                (click)="save(libro?.$key, libro?.titulo)"
                class="btn btn-danger w-100"
                style="margin: 10px auto; display: block; float:none;"
              >
                Enviar
              </button>
            </fieldset>
          </form>
          <app-list-comentarios
            [showEditComments]="showEditComments"
            [initialValue]="libro?.$key"
          ></app-list-comentarios>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-dark" *ngIf="libro?.loTiene && !alumno?.libro">
            No puede retirar el libro porque ya lo tiene alguien
          </p>
          <p
            class="text-dark"
            *ngIf="alumno?.libro && libro?.loTiene !== alumno?.$key"
          >
            No puede retirar el libro porque no devolvió el libro anterior
          </p>
          <p class="text-dark" *ngIf="!alumno?.libro && !libro?.loTiene">
            ¿Está seguro de reservar el libro {{ libro?.titulo }}?
          </p>
          <p class="text-dark" *ngIf="libro?.loTiene === alumno?.$key">
            El libro fue reservado exitosamente
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <button
            type="button"
            (click)="
              retirar(
                libro?.$key,
                alumno?.$key,
                alumno?.nombre,
                alumno?.apellido,
                libro?.titulo,
                libro?.foto
              )
            "
            *ngIf="!retirado && !alumno?.libro && !libro?.loTiene"
            data-dismiss="modal"
            class="btn btn-danger"
          >
            Retirar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
  class="modal fade"
  id="videoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="videoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="hideVideo()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/VfDrKQ261BM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
        <iframe *ngIf="video" width="100%" height="315" [src]="linkYoutube" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="hideVideo()" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          (click)="
            retirar(
              libro?.$key,
              alumno?.$key,
              alumno?.nombre,
              alumno?.apellido,
              libro?.titulo,
              libro?.foto
            )
          "
          *ngIf="!retirado && !alumno?.libro && !libro?.loTiene"
          data-dismiss="modal"
          class="btn btn-danger"
        >
          Retirar
        </button>
      </div>
    </div>
  </div>
</div>
</div>
