<ul>
<li class="item" *ngFor="let comment of (comentarios$ | async)">
  <div class="s1"><img _ngcontent-bqg-5="" width="30px" src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/{{comment.foto}}.png?alt=media&amp;token=a02ff541-63b1-4880-814a-d01de89e3b99"></div>
  <div class="s2">
    <h3>{{comment.alumno}}</h3>
    <p>{{comment.comentario}}</p>
    <button *ngIf="showEditComments" (click)="deleteComment(comment)" class="btn btn-danger float-right"><i class="material-icons float-right">delete</i></button>
  </div>
</li>
</ul>
