<div class="masthead clearfix">
  <div class="inner">
    <!--h3 class="masthead-brand" routerLink="home"><img src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801" alt=""/></h3-->
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="w-100 float-left">
  <div class="table-responsive col-sm-12 mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: center; font-size:22px;"></th>
          <th style="text-align: center; font-size:22px;">Libro</th>
          <th style="text-align:center; font-size:22px;">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leido of leidos$ | async" style="background: none;">
          <td><img style="width:50px" src="{{ leido?.foto }}" alt="" /></td>
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            {{ leido?.libro }}
          </td>
          <td style="text-align:center; font-size:18px; vertical-align: middle">
            {{ leido?.devolvio ? "Devuelto" : "No devuelto" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
