<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand" routerLink="home">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801"
        alt=""
      />
    </h3>
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="profiles-gate-container">
  <div class="list-profiles">
    <div class="profile-gate-label">
      ¿Qui&eacute;n est&aacute; leyendo ahora?
    </div>
    <ul class="choose-profile">
      <li class="profile" *ngFor="let alumno of alumno$ | async">
        <div class="ct">
          <a routerLink="alumnos/{{ alumno.$key }}" class="profile-link">
            <div class="avatar-wrapper">
              <div class="profile-icon">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/{{
                    alumno.img
                  }}.png?alt=media&token=a02ff541-63b1-4880-814a-d01de89e3b99"
                  alt=""
                />
              </div>
            </div>
            <span class="profile-name">{{ alumno.nombre }}</span>
          </a>
          <div class="profile-children"></div>
        </div>
      </li>
    </ul>
  </div>
</div>


  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    #modalPassword
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Ingresá tu contraseña</label>
          <input type="text" class="form-control" #logButton (focus)="hideError()">
          <p class="error" *ngIf="showErrorPassword">La contraseña es inválida. Intenta nuevamente</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deletePassword()">
            Cerrar
          </button>
          <button
            type="button"
            (click)="login()"
            class="btn btn-danger"
          >
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </div>