<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <router-outlet></router-outlet>
      <!-- <div class="mastfoot  col-sm-12">
        <div class="inner">
          <p>Desarrollado por <a target="_blank" href="mailto:tomas.leiva@lascumbres.edu.ar">Tom&aacute;s Leiva</a> para <a target="_blank" href="http://cumbresblogs.com/">Las Cumbres</a></p>
        </div>
      </div> -->

    </div>

  </div>

</div>
