<div class="masthead clearfix">
  <div class="inner">
    <!--h3 class="masthead-brand" routerLink="home"><img src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801" alt=""/></h3-->
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="container">

<div class="w-100">
  <div class="row w-100">
    <div class="col-12">
      <button
        (click)="createNewBook()"
        data-toggle="tooltip"
        class="btn btn-danger float-right mt-5 mb-3"
      >
        <span>Agregar libro</span><i class="material-icons float-right ml-2">add_circle</i>
      </button>
    </div>
   </div>
  <div
    class="row pt-3 pb-3 border-bottom border-gray"
    *ngFor="let book of libros"
    style="background: none;"
  >
    <div class="col-md-2 mt-4">
      <img [src]="book?.foto" width="100%" />
      <label class="float-left w-100 mt-2">
        <button class="btn btn-danger upload w-100">
          Subir imagen<i class="material-icons float-right">cloud_upload</i>
          <input
            class="file-input float-left m-2"
            value=""
            type="file"
            (change)="detectFiles($event, book, 'foto')"
          />
        </button>
      </label>
    </div>
    <div class="col-md-10 row">

    <div
      class="col-md-6 mb-3"
      style="font-size:18px;"
    >
      <label>Libro</label>

      <input
        #titulo
        class="form-control"
        type="text"
        (change)="saveBookInfo(book, 'titulo', titulo.value)"
        [value]="book?.titulo"
      />
    </div>

    <div
      class="col-md-6 mb-3"
      style="font-size:18px"
    >
      <label>Autor</label>

      <input
        class="form-control"
        #autor
        (change)="saveBookInfo(book, 'autor', autor.value)"
        type="text"
        [value]="book?.autor"
      />
    </div>
    <div
    class="col-md-12 mb-3"
    style="font-size:18px"
  >
    <label>Descripción</label>

    <textarea
      #descripcion
      class="form-control"
      (change)="saveBookInfo(book, 'descripcion', descripcion.value)"
      rows="2"
      >{{ book?.descripcion }}</textarea
    >
  </div>
    <div
      class="col-md-4 mb-3"
      style="font-size:18px; vertical-align: middle"
    >
      <label class="">Editorial</label>

      <input
        class="form-control"
        #editorial
        (change)="saveBookInfo(book, 'editorial', editorial.value)"
        type="text"
        [value]="book?.editorial"
      />
    </div>
    <div
      class="col-md-4 mb-3"
      style="font-size:18px; vertical-align: middle"
    >
      <label class="">Ilustrador</label>

      <input
        class="form-control"
        #ilustrador
        (change)="saveBookInfo(book, 'ilustrador', ilustrador.value)"
        type="text"
        [value]="book?.ilustrador ? book?.ilustrador : ''"
      />
    </div>
    <div
    class="col-md-4 mb-3"
    style="font-size:18px; vertical-align: middle"
  >
    <label class="">Link YouTube</label>

    <input
      class="form-control"
      #linkYoutube
      (change)="saveBookInfo(book, 'linkYoutube', linkYoutube.value)"
      type="text"
      [value]="book?.linkYoutube ? book?.linkYoutube : ''"
    />
  </div>
    <div class="col-md-12 mb-3" style="font-size:22px;">
      <button
        (click)="deleteBook(book)"
        data-toggle="tooltip"
        data-placement="top"
        title="Eliminar"
        class="btn btn-danger float-right mb-3"
      >Eliminar libro
        <i class="material-icons float-right">delete</i>
    </button>
    </div>
  </div>
</div>
</div>
</div>
