button {
  cursor: pointer;
}

a i {
  font-size: 32px;
}

.upload {
  height: 43px;
  position: relative;
  margin: 5px 0 0 0;
  width: 100%;
}
.upload i{
  text-align: center;
}
.upload .file-input {
  opacity: 0;
  position: absolute;
  height: 42px;
  width: 48px;
  top: 0px;
  left: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  input.form-control,
  textarea.form-control {
    margin: 0 0 10px;
  }
  label {
    width: 100%;
    float: left;
    text-align: left;
  }
  a.ver-leidos {
    width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .row-alumno {
    padding: 0 0 10px;
    border-bottom: 1px solid #fff;
  }
  .row {
    margin: 0;
  }
  .col-md-1 img {
    float: left;
  }
  .upload,
  .upload input.file-input {
    width: 100%;
  }
  .upload i {
    text-align: center;
    float: none;
    margin: 0 auto;
  }
  button.btn-danger{
    width:100%;
  }
}
@media (min-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .upload i {
    float: right;
  }
}
label{
  text-align:left;
  display: inline-block;
}
div{
  text-align:left;
}