<div class="masthead clearfix">
  <div class="inner">
    <!--h3 class="masthead-brand" routerLink="home"><img src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/logo.png?alt=media&token=c9ef09e6-0580-4213-a182-0bf5d7845801" alt=""/></h3-->
    <router-outlet name="lolo"></router-outlet>
  </div>
</div>
<div class="w-100 float-left">
  <div class="table-responsive col-sm-12 mt-5 w-100">
    <table class="table table-striped" *ngIf="comentarios">
      <thead>
        <tr>
          <th style="text-align: center; font-size:22px;">Alumno</th>
          <th style="text-align: center; font-size:22px;">Libro</th>
          <th style="text-align: center; font-size:22px;">Comentario</th>
          <th style="text-align:center; font-size:22px;">Fecha</th>
          <th style="text-align:center; font-size:22px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comentario of comentarios" style="background: none;">
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>
              <img
                src="https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/{{
                  comentario.foto
                }}.png?alt=media&token=a02ff541-63b1-4880-814a-d01de89e3b99"
                width="20px"
                data-holder-rendered="true"
              /><span class="ml-2">{{ comentario?.alumno }}</span>
            </p>
          </td>
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>{{ comentario?.titulo }}</p>
          </td>
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>
              {{
                comentario?.comentario.length > 50
                  ? comentario?.comentario.substring(0, 50) + "..."
                  : comentario?.comentario
              }}
            </p>
          </td>
          <td style="text-align:center; font-size:18px;vertical-align: middle">
            <p>{{ comentario?.time | date: "longDate" }}</p>
          </td>
          <td>
            <button
              class="btn btn-danger mt-0"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="
                eliminarModal(comentario?.commentKey, comentario?.libroKey)
              "
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-dark">¿Esta seguro de eliminar el comentario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          (click)="eliminar(commentKey, libroKey)"
          data-dismiss="modal"
          class="btn btn-danger"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>
